.p-detail-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -10px;
}
.p-detail-quantity span {
  display: inline-block;
  width: 70px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5px;
  margin-right: 20px;
}
.p-detail-quantity .btn-mins {
  padding-left: 0px;
}
.p-detail-quantity .btn-plus {
  padding-right: 0px;
}
.p-detail-quantity .btn-mins, .p-detail-quantity .btn-plus {
  font-weight: bold;
  color: black;
}
.p-detail-quantity .quantity {
  font-weight: bold;
}
.p-detail-quantity input[name="quantity"] {
  width: 45px;
}
.spacer-20 {
  padding-bottom: 20px;
}
.spacer-10 {
  padding-bottom: 10px;
}
.spacer-horizon-10 {
  padding-left: 10px;
}
.spacer-horizon-2 {
  padding-left: 2px;
}
.nav {
  flex-wrap: nowrap;
}
.p-detail-price {
  display: flex;
  align-items: baseline;
}
.p-detail-price .discount-price {
  font-size: 22px;
  color: #7A7C7E;
  text-decoration-line: line-through;
}
.info-dealer-box {
  display: flex;
}
.input-label {
  padding: 5px 10px;
  border: 2px solid #0000000d;
}
.input-label span {
  color: red;
  padding: 0px 5px;
  font-weight: 900;
}
.input-label label {
  text-transform: uppercase;
  font-size: 13px;
}
.input-label input {
  border: 0;
  padding: unset;
  width: 100%;
  font-weight: bold;
}
.input-search-city {
  display: flex;
  padding: 11px 10px;
  border: 2px solid #0000000d;
}
.input-search-city input {
  border: 0;
  padding: unset;
  width: 100%;
}
.dealer-card{
  background-color: #0000001c;
  padding: 15px;
}

.dealer-card .dealer-box-name{
  display: flex;
}
.dealer-box-name .dealer-name{
  color: black;
  font-weight: bold;
}
.dealer-box-name .dealer-status-instock{
  background-color: #41B67E;
  font-size: 12px;
  align-self: center;
  padding: 1px 6px;
  color: white;
}
.dealer-box-name .dealer-status-outstock{
  background-color: #E9E9E9;
  font-size: 12px;
  align-self: center;
  padding: 1px 6px;
  color: #7A7C7E;
}
.dealer-card .dealer-iconNtext{
  display: flex;
}
.dealer-card .dealer-iconNtext span{
  font-size: 14px;
}
.dealer-card .dealer-iconNtext img{
  width: 10px;
}
.promo-descrip, .dealer-result{
  
  font-size: 15px;
}
.promo-descrip{
  color: #FF0000;
}
.custom-btn-add-cart{
  display: flex;
}
.custom-btn-add-cart img{
  background-color: #DF121A;
  padding: 14px 18px;
}
.box-action-apparel{
  display: flex;
  
}

.btn-add-cart {
  
  border: 2px solid #0A2D82;
    align-self: center;
    padding: 10px 16px;
    color: #0A2D82;
    font-weight: bold;
}
/* SHOPPING CART */
.shopping-cart{
  position: relative;
  background-color: #E5E5E5;
}
.item-shopping-cart{
  display: flex;
  color: #000;
  background-color: white;
  padding-left: 20px;
}
.item-cart-img {
  flex: 13%;
  align-self: center;
}
.item-cart-img>img {
  width: 100%;
}
.item-cart-detail-box{
  flex: 87%;
  padding: 25px 105px 10px 30px;
}

.item-cart-info-box{
  display: flex;
}

.item-cart-detail-box hr, .hr-custom {
  border: none;
  height: 2px;
  background-color: #F3F3F3;
  margin-top: 20px;
  margin-bottom: 10px;
}
.item-cart-detail-quantity{
  justify-content: flex-end;
}
.item-cart-total-box{
  display: flex;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}
.total-price{
  flex-grow: 1;
  text-align: right;
  color: #FF0000;
}
.fnt-oswald{
  font-family: "Oswald", sans-serif;
}
.item-cart-detail-info{
  flex: 40%;
}
.item-cart-detail-info .name{
  font-size: 32px;
}
.item-cart-detail-info .showroom{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.item-cart-detail-info a{
  font-size: 14px;
}
.item-cart-detail-price{
  align-self: baseline;
    display: grid;
    flex: 30%;
    padding-left: 50px;
}
.item-cart-detail-price p{
  margin: unset;

}
.item-cart-detail-price .label{
  font-size: 12px;
  color: #7A7C7E;
  margin-top: 10px;
}
.item-cart-detail-price .item-price{
  font-size: 24px;
  color: #FF0000;
}
.item-cart-detail-price .deposit{
  font-size: 16px;
  color: #0A2D82;
  font-weight: bold;
}
.item-cart-detail-quantity{
  flex: 30%;
}
.item-cart-detail-quantity .quantity{
  font-size: 24px;
}
.item-cart-detail-quantity .btn-mins{
  color: #7A7C7E;
}
.item-cart-detail-quantity .btn-mins, .item-cart-detail-quantity .btn-plus{
  font-size: 32px;
}
.spacer-50 {
  padding-bottom: 50px;
}
.total-price-box{
  /* justify-content: flex-end; */
  color: #000;
  /* display: grid; */
  text-align: end;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  padding: 25px 105px 10px 211px;
}
.total-price-box p{
  text-align: end;
}
/* .total-price-box hr {
  border: none;
  height: 2px;
  background-color: #E9E9E9;
  margin-top: 20px;
  margin-bottom: 10px;
} */
.hr-custom{
  background-color: #E9E9E9 ;
  margin-top: unset;
  margin-bottom: 20px;
}
.total-price-box>.btn-clip{
  font-family: "Inter", sans-serif;
}

/* ----------------------------------- */

.product-bike-dealer {
      background-color: unset !important;
   padding: unset !important;
}

.label-fix{
  max-width: 95% !important;
}
.custom-info-payment{
  background-color: unset !important;
}

.custom-info-payment ul > :first-child {
  border-top: unset !important;
}
.custom-info-payment .exbold {
  color: #171717;
}

/*Begin Product promotion section*/
.product-promotion{
  position: relative;
  margin-top: 30px;
}
.product-promotion .promotion-content{
  background-color: #474747;
}
.product-promotion .promotion-header{
  position: absolute;
  left: 26px;
  top: -20px;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  padding: 2px 0px 6px 30px;
}
.product-promotion .left-top-white-border{
  position: absolute;
  background: #fff;
  width: 40px;
  height: calc(100% + 20px);
  left: -24px;
  top: -20px;
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
}
.product-promotion .left-top-red-border{
  position: absolute;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  border-top: 166px solid #7D0000;
  transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  width: 0;
  height: 0;
  top: -17px;
  left: 16px;
}
.product-promotion .right-bottom-border{
  position: absolute;
  right: 70px;
  bottom: -18px;
}
.product-promotion .right-bottom-white-border{
  position: absolute;
  background: #fff;
  width: 110px;
  height: 150%;
  right: -50px;
  bottom: -40px;
  transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
}
/*End Product promotion section*/

.banner-single-full .form-search .button-search{
  z-index: 9;
}

footer .text-operator{
  max-width: 100% !important;
}

footer .copyright{
  top: 0 !important;
}

footer .company-info{
  font-size: 14px;
  margin-bottom: 10px;
}

footer .footer-logo-mb{
  text-align: left !important;

}

.order-detail .info-content-box{
  height: 100%;
}

.order-detail .info-content{
  height: calc(100% - 40px);
}

.btn-clip.btn-border-red{
  position: relative;
  border-right: solid 1px #ff0000;
  z-index: 0;
}
.btn-clip.btn-border-red.bg-gray:after{
  background: #f3f3f3;
}
.btn-clip.btn-border-red:after{
  background-image: none !important;
  background:  #ffffff;
  height: 10px;
  width: 14px;
  top: 37px;
  right: -9px;
  /*border: 1px solid #ffffff;*/
  border-left: 1px solid #ff0000;
  z-index: 4;
  transform: skewX(-45deg);
}
.btn-clip.btn-border-red:hover:after{
  background-image: none !important;
}
.btn-clip.btn-border-blue:after{
  width: 11px;
  right: -6px;
}

@media only screen and (max-width: 768px) {
  .box-action-apparel{
    display: flex !important;
    
  }
  .cart-bag{
    display: none !important;
  }
  a.btn-view-cart.btn-clip.btn-red{
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 0 ;
  }
  #btn-add-to-cart{
    margin-right: 20px;
  }
  .spacer-horizon-10-mb{
    display: none;
  }
  .spacer-20-mb{
    display: none;
  }
  .btn-clip { 
    width: calc(100% - 30px);
    
	}
  .mb-padding-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .btn-clip-mb{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: unset;
  }
  .btn-clip-mb::after{
    right: -12px !important;
  }
  .product-promotion .promotion-content{
    font-size: 3vw;
    padding-left: 20vw !important;
    padding-right: 14vw !important;
  }
  .product-promotion .right-bottom-white-border{
    width: 95px;
  }
  .product-promotion .right-bottom-border{
    bottom: -12px;
  }
  .product-promotion .right-bottom-border img{
    max-width: 80%;
  }
  .btn-clip {
    font-size: 3vw !important;
  }
  .btn__h-accordion{
    font-size: 4.5vw !important;
  }
  .banner-single .cat-banner__caption{
    transform: translateY(0%) !important;
  }
  .my-account .main-info .nav-link{
    position: relative;
  }
  .my-account .main-info .nav-link.active:after{
    position: absolute;
    top:  14px;
  }
  .news__featured-wrapper .stretched-link{
    display: flex;
  }
  .navmenu-accordion{
    padding-bottom: 20px !important;
  }
  body.open-menu-bar .navmenu-accordion .list-social{
    margin-bottom: 0 !important;
  }
  .h__accordion.user_menu .h__accordion-item{
    background-color: #f3f3f3;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .h__accordion.user_menu .h__accordion-item .chevron-right{
    right: 25px;
  }
  .btn-clip.btn-small{
    width: auto !important;
    min-width: 45%;
  }
  .item-cart-detail-quantity .btn-mins, .item-cart-detail-quantity .btn-plus{
    font-size: 4.5vw;
  }
  .item-cart-detail-quantity .quantity{
    font-size: 4.5vw;
  }
  .popup_site .btn-clip:not(.btn-small){
    margin-bottom: 10px;
  }
 }