.fz20 {
  font-size: 20px;
}

.fz30 {
  font-size: 30px;
}
.hide{
  display: none !important;
}

.banner {
  position: relative;
  z-index: 10;

  .btn-clip {
    @media screen and (max-width: 767px){
      max-width: 130px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 5px;
    }
  }

  .swiper-slide {
    height: calc(100vh - 65px);
    @media screen and (max-width: 767px){
      height: calc(100vh - 160px);
    }
  }

  @include e("swiper") {
    .swiper-slide {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
    }

    .swiper-content {
      max-width: 483px;

      .btn--border {
        border-color: #C4C4C4;
      }
    }
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      @include size(100%);
      pointer-events: none;
      z-index: -1;
    }
  }

  @include e("product") {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;

    &.banner {
      .navigator__breadcrumbs:not(.fixed) {
        top: 42px !important;
      }
    }

    .banner-inner {
      margin-top: auto;
      align-self: center;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 50%);
      z-index: -1;
    }

    .text-content {
      max-width: 483px;
      text-align: center;
    }
  }

  @include respond-to($xl) {
    @include e("swiper") {
      .swiper-pagination {
        max-width: $lg;
      }
    }
  }

  @include respond-to($lg) {
    @include e("swiper") {

      .swiper-button-prev--custom,
      .swiper-button-next--custom {
        display: none;
      }

      .swiper-slide {
        height: calc(100vh - 65px);
        justify-content: center;
        align-items: flex-end;
        text-align: center;
      }

      .swiper-content {
        margin: 0 auto;
        padding-bottom: 72px;

        .exbold.ff-1 {
          font-size: 32px;
          line-height: 48px;
        }

        .fz16 {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }

      .swiper-pagination {
        margin: 0 auto;
        justify-content: center;
      }

      .swiper-pagi-wrapper {
        bottom: 32px;
      }
    }

    @include e("product") {
      height: calc(100vh - 160px);
    }
  }

  .navigator__breadcrumbs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 0;
    z-index: 998;

    @media screen and (min-width: 768px) {
      top: 0 !important;
    }

    @media screen and (max-width: 767px) {
      &.fixed {
        position: fixed;
        background: var(--dark);
      }
    }

    .breadcrumb-item {
      &.active {
        color: var(--white);
      }

      a {
        color: #E9E9E9;
      }
    }
  }
}

.swiper-pagi-wrapper {
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 100%;
}

.swiper-pagination-bullet {
  @include size(16px);
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  opacity: 1;
  position: relative;

  &:after {
    content: "";
    display: block;
    @include size(4px);
    background: var(--white);
    @include radius(100%);
  }

  &-active {
    .halfclip {
      animation: cliprotate 5s 1;
      transform: rotate(180deg);
    }

    .halfcircle {
      &.clipped {
        transform: rotate(135deg);
        animation: rotate 2.5s linear 2;
      }

      &.fixed {
        opacity: 1;
        animation: showfixed 5s 1;
      }
    }
  }

  .halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
  }

  .halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0;
    position: absolute;
    border: solid 1px transparent;
    border-top-color: var(--red);
    border-left-color: var(--red);
    border-radius: 50%;

    &.clipped {
      width: 200%;
      transform: rotate(-45deg);
    }

    &.fixed {
      width: 100%;
      transform: rotate(135deg);
      opacity: 0;
    }
  }
}

.swiper-pagination {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  padding: 0 $space;
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: 1400px){
    max-width: 1140px;
  }
  @media screen and (max-width: 1140px){
    max-width: 960px;
  }
}

.swiper-button-prev {
  @include m("custom") {
    @include radius(100%);
    background-color: var(--white);
    @include size(40px);

    &:after {
      display: none;
    }
  }
}

.swiper-button-next {
  @include m("custom") {
    @include radius(100%);
    background-color: var(--white);
    @include size(40px);

    &:after {
      display: none;
    }
  }
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes cliprotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  50.01% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes showfixed {
  0% {
    opacity: 0;
  }

  49.99% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.row {
  &.sm-gutters {
    margin-right: -4px;
    margin-left: -4px;

    >.col,
    >[class*="col-"] {
      padding-right: 4px;
      padding-left: 4px;
      margin-bottom: 4px;
      margin-top: 4px;
    }
  }

  &-0 {
    margin-left: 0;
    margin-right: 0;

    >.col,
    >[class*=col-] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &-20 {
    @media screen and (min-width: 768px) {
      margin-left: -20px;
      margin-right: -20px;

      >.col,
      >[class*=col-] {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  &-32 {
    @media screen and (min-width: 768px) {
      margin-left: -32px;
      margin-right: -32px;

      >.col,
      >[class*=col-] {
        padding-right: 32px;
        padding-left: 32px;
      }
    }
  }
}

.btn-clip {
  padding: 12px 14px 12px 24px;
  border: 1px solid;
  border-right: 0;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  position: relative;
  margin-right: 10px;
  border-right: 0;
  min-width: 130px;

  @media screen and (max-width: 767px) {
    width: calc(100% - 10px);

    &.w-auto {
      width: auto;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
  }

  &::after {
    content: '';
    position: absolute;
    right: -10px;
    top: -1px;
    width: 12px;
    height: 48px;
  }

  &:hover {
    color: var(--white) !important;
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.5);

    &:before {
      animation: shine 0.5s 0s linear;
    }

    &:after {
      background-image: url('../img/bg-clip-hover.png') !important;
    }

    .ico__chev-right {
      background: var(--white);
    }
  }

  &.btn-red {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);

    &::after {
      background-image: url('../img/bg-clip-hover.png');
    }

    .ico__chev-right {
      background: var(--white) !important;
    }
  }

  &.btn-border-red {
    color: var(--red);
    background-color: transparent;

    &::after {
      background-image: url('../img/bg-clip.png');
    }
    .ico__download {
      background: var(--red);
    }
  }

  &.btn-border-white {
    color: var(--white);
    background-color: transparent;

    &::after {
      background-image: url('../img/bg-clip-white.png');
    }

    .ico__chev-right {
      background: var(--white) !important;
    }
  }

  &.link-desk {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &.link-mb {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .ico__chev-right {
    margin-left: 10px;
  }

  .ico__download {
    width: 20px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    @include mask-image("../img/ic_download.svg", contain);
    background: var(--white);
  }
}

.btn {
  @include radius(0);

  @include m("border") {
    border: 1px solid var(--white);
    text-transform: uppercase;
    padding: 12px 24px;
    background: transparent;
    color: var(--white);
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));

    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: -4px;
      @include size(100px, 1px);
      @include transform(rotate(313deg));
      @include css3_prefix(transform-origin, right bottom);
      background: var(--white);
    }
  }

  @include m("border-red") {
    border: 1px solid var(--red);
    text-transform: uppercase;
    padding: 12px 24px;
    background: transparent;
    color: var(--red);
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));
    overflow: hidden;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: -4px;
      @include size(100px, 1px);
      @include transform(rotate(313deg));
      @include css3_prefix(transform-origin, right bottom);
      background: var(--red);
    }
  }

  @include m("full-red") {
    text-transform: uppercase;
    padding: 12px 16px;
    background: var(--red);
    color: var(--white);
    border: 0;
    outline: none;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));

    img {
      padding-left: 10px;
    }

    .append-icon {
      padding-right: 10px;
    }

    .ico__download {
      width: 20px;
      height: 15px;
      display: inline-block;
      @include mask-image("../img/ic_download.svg", contain);
      background: var(--white);
    }

    .ico__chev-right {
      margin-left: 10px;
      background: var(--white);
    }

    &:before {
      top: 14%;
    }

    &:hover {
      &:before {
        animation: shine-full 1s 0s linear;
      }
    }
  }

  @include m("full-white") {
    text-transform: uppercase;
    padding: 12px 16px;
    background: var(--white);
    color: var(--red);
    border: 0;
    outline: none;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));

    img {
      padding-left: 10px;
    }

    .append-icon {
      padding-right: 10px;
    }

    .ico__download {
      width: 20px;
      height: 15px;
      display: inline-block;
      @include mask-image("../img/ic_download.svg", contain);
      background: var(--white);
    }

    .ico__chev-right {
      margin-left: 10px;
      background: var(--red);
    }
  }

  @include m("border-white") {
    border: 1px solid var(--white);
    text-transform: uppercase;
    padding: 12px 24px;
    background: transparent;
    color: var(--white);
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));
    overflow: hidden;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: -4px;
      @include size(100px, 1px);
      @include transform(rotate(313deg));
      @include css3_prefix(transform-origin, right bottom);
      background: var(--white);
    }
  }

  @include m("border-red") {
    border: 1px solid var(--red);
    text-transform: uppercase;
    padding: 12px 24px;
    background: transparent;
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));
    overflow: hidden;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: -4px;
      @include size(100px, 1px);
      @include transform(rotate(313deg));
      @include css3_prefix(transform-origin, right bottom);
      background: var(--red);

      @media screen and (min-width: 768px) {
        min-width: 140px;
      }
    }

    &.compare-bikes {
      &:after {
        right: -2px;
        transform: rotate(318deg);
        bottom: 8px;
      }
    }
  }

  @include m("full-transparent") {
    text-transform: uppercase;
    padding: 12px 16px;
    background: transparent;
    color: var(--white);
    border: 1px solid #C4C4C4;
    ;
    outline: none;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    @include clip-path(polygon, (0 0, 100% 0, 100% 85%, 95% 100%, 0 100%));

    img {
      padding-left: 10px;
    }

    .append-icon {
      padding-right: 10px;
    }

    .ico__download {
      width: 20px;
      height: 15px;
      display: inline-block;
      @include mask-image("../img/ic_download.svg", contain);
      background: var(--white);
    }

    .ico__chev-right {
      margin-left: 10px;
      background: var(--white);
    }
  }

  @include m("flag") {
    font-size: 14px;

    img {
      @include size(24px);
      object-fit: contain;
      margin-right: 10px;
    }
  }

  @include e("f-accordion") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: $mainBold;
    font-weight: $bold;
    color: var(--white);
    width: 100%;
    border-bottom: 1px solid var(--gray);
    padding: 12px 0;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: var(--white);
    }

    &.collapsed {
      .cavet {

        &:after,
        &:before {
          background: var(--white);
        }

        &:after {
          left: 50%;
          top: 50%;
          @include transform(translate(-50%, -50%) rotate(90deg));
        }
      }
    }
  }

  @include e("h-accordion") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: $mainBold;
    font-weight: $bold;
    color: var(--dark);
    width: 100%;
    border-bottom: 1px solid var(--line);
    padding: 12px 0;
    text-transform: uppercase;
    
    &:hover,
    &:focus {
      color: var(--dark);
    }
    &[aria-expanded="true"] {
      color: var(--red);
      .chevron-right {
        transform: rotate(90deg);
        &:after {
          background: var(--red);
        }
      }
    }
    &.collapsed {
      .cavet {

        &:after,
        &:before {
          background: var(--white);
        }

        &:after {
          left: 50%;
          top: 50%;
          @include transform(translate(-50%, -50%) rotate(90deg));
        }
      }
    }
  }

  @include e("h-drawer") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: $mainBold;
    font-weight: $bold;
    color: var(--dark);
    width: 100%;
    border-bottom: 1px solid var(--line);
    padding: 12px 0 12px 24px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: var(--dark);
    }

    .chevron-right {
      width: 6px;
      height: 10px;
      display: inline-block;
      @include mask-image("../img/ic_chevron-right.svg", contain);
      background: var(--dark);
    }
  }

  @include m("scrolldown") {
    @include size(56px);
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    @include radius(50%);
    background: none;
    margin: 40px auto 60px;
  }

  @include respond-to($md) {
    @include m("mb-b-red") {
      width: 100%;
      background: transparent;
      border: 1px solid var(--red);
      font-size: 14px;
      font-weight: $bold;
      color: var(--red);
      justify-content: center;
      @include clip-path(polygon, (0 0, 100% 0, 100% 78%, 97.8% 100%, 0 100%));
      position: relative;

      &:after {
        content: "";
        position: absolute;
        right: -4px;
        bottom: 1px;
        width: 20px;
        height: 1px;
        background: var(--red);
        @include transform(rotate(128deg));
        transform-origin: inherit;
      }

      .ico__chev-right {
        margin-left: 10px;
        background: var(--red);
      }

      .ico__download {
        background: var(--red);
      }
    }
  }
}

.group-dropdown {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
}

.dropdown {
  @include m("selected") {
    border: 1px solid var(--line);
    background-color: var(--white);
    flex: 1;

    a.btn {
      display: block;
      text-align: left;

      &:after {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        @include transform(translateY(-50%));
        @include size(12px, 7px);
        @include mask-image("../img/ic_chevron-down.svg", contain);
        background: var(--l-gray);
        z-index: 2;
        @media screen and (min-width: 768px){
          right: 24px;
        }
      }

      .label {
        color: var(--l-gray);
        text-transform: capitalize;
        font-size: 12px;

        sup {
          color: var(--red);
          font-weight: 600;
          letter-spacing: -0.5px;
        }
      }

      .title {
        font-size: 14px;
        color: var(--dark);
        font-weight: $medium;

        .tag {
          font-size: 10px;
          color: var(--white);
          font-weight: 500;
          background: #41b67e;
          padding: 0 4px;
          min-height: 16px;
          display: inline-block;
        }
      }
    }
  }

  @include m("selected-date") {
    a.btn {
      position: relative;
      z-index: 0;
      cursor: pointer;

      &:after {
        @include size(24px);
        @include mask-image("../img/ic_calendar.svg", contain);
      }
    }

    .datepicker {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      // opacity: 0;
      @include size(100%);
      border: 0;
      background: transparent;
      opacity: 0;
    }
  }
}

.form-group {
  border: 1px solid var(--line);
  padding: 10px $space;
  margin-bottom: 10px;

  label {
    font-size: 12px;
    color: var(--l-gray);

    sup {
      color: var(--red);
    }
  }

  .form-control {
    height: auto;
    font-size: 14px;
    color: var(--dark);
    font-weight: $medium;
    border: 0;
    @include radius(0);
    padding-left: 0;
  }
}

.form-radio {
  border: 0;
  @media screen and (min-width: 768px){
    display: flex;
  }
  label {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark);
  }
  .group-radio {
    display: flex;
    @media screen and (max-width: 767px){
      margin-top: 15px;
    }
  }
  .custom-radio {
    margin-left: 40px;
  }
}

.form-group-important {
  background-color: var(--l-gray2);
  padding: $space 14px;

  label {
    font-size: 12px;
    font-weight: $medium;
    color: var(--dark);
    margin-bottom: 8px;
  }
}

.custom-control {
  .custom-control-label {

    &:after,
    &:before {
      @include size(18px);
      background: none;
    }
  }
}

.custom-radio {
  padding-left: 30px;

  .custom-control-label {
    &:after {
      // background-image: none;
      @include size(8px);
      @include radius(100%);
      left: -25px;
      top: 9px;
    }

    &:before {
      border: 2px solid var(--l-gray);
      left: -30px;
    }
  }

  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &:before {
          border-color: var(--red);
          background-color: transparent;
        }

        &:after {
          background-image: none;
          background-color: var(--red);
        }
      }
    }
  }
}

@include keyframes(shine) {
  from {
    opacity: 0;
    left: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@include keyframes(shine-full) {
  from {
    opacity: 1;
    left: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
    left: 100%;
  }
}